html {
  font-family: "Noto Sans", "Noto Sans CJK SC", sans-serif;
  background: #eee;
/*  padding: 1rem;*/
}

body {
  /*max-width: 960px;*/
/*  margin: 0 auto;*/
  color-background: #EEEEEE;
  color:#444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  margin: 1rem 0;
}

a {
  color: #444;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.nav-bar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 5050;
    background-color:#fafafb;
/*    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;*/
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(60,65,70,0.1);
/*    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;*/
/*    border-top: 3px solid #f48024;*/
}

.nav-link{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}


nav div {
  flex: auto;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

nav div a {
  text-decoration: none;
  font-weight: 900;

}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}*/

.content {
  padding: 0 1rem 1rem;
  margin-top: 70px;
}



#left-div{
    width: 55%;
    style=margin-left: 1em;
    float: left;
}

#book-content{
    font-size: 0px;
}

.tooltip {
  font-size: 24px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  style=margin-block-start: 0em;
  margin-block-end: 0em;
  /*border-bottom: 0px dotted black;*/

}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  font-size: 0px;
  width: 140px;
/*  background-color: #555;*/
  background-color:#FFFFCE;
  color: #000;
  text-align: center;
  border-radius: 5px;
  border-color: red;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 10px 10px 10px;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -80px;
}

.tooltip:hover {
  background-color: #ebca71;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tt-hanzi {
  font-size:24px;
  font-weight:500;

}

.tt-fayin {
  font-size: 18px;
  font-weight:600;
}

.tt-def {
  font-size:16px;
  font-weight:500;
/*  float: left*/
}


.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}



