{% extends 'ReadItEasy/base.html' %}
{% load static %}

{% block extra_head%}
  <link rel="stylesheet" type="text/css" href="{% static 'dictionary/css/word_list.css' %}">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}

{% block title %}Mandarin - Words{% endblock %}

{% block content %}
  <h1>HSK list</h1>
  <div id="table-wrapper">
    <table>
      <tr>
        <th>sim</th>
        <th>trad</th>
        <th>hsk</th>
        <th>rank</th>
        <th>is_known</th>
        <th>pinyin</th>
        <th>def</th>
      </tr>
      {% for trad, sim, pinyin_num, pinyin, hsk, def, is_known, rank in ext_dict_zl %}
      <tr onclick="changeIsKnown(this)" is_known="{{is_known}}" word="{{sim}}">
        <td>{{sim}}</td>
        <td>{{trad}}</td>
        <td>{{hsk}}</td>
        <td>{{rank}}</td>
        <td class="known">{{is_known}}</td>
        <td>{{pinyin}}</td>
        <td>{{def}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'dictionary/js/orderableTable.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'dictionary/js/changeTableWordsKnown.js' %}" charset="utf-8"></script>
{% endblock %}