html {
  font-family: "Noto Sans", "Noto Sans CJK SC", sans-serif;
  background: #eee;
/*  padding: 1rem;*/
}

body {
  /*max-width: 960px;*/
/*  margin: 0 auto;*/
  color-background: #EEEEEE;
  color:#444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  margin: 1rem 0;
}

a {
  color: #444;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.nav-bar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 5050;
    background-color:#fafafb;
/*    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;*/
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(60,65,70,0.1);
/*    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;*/
/*    border-top: 3px solid #f48024;*/
}

.nav-link{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}


nav div {
  flex: auto;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

nav div a {
  text-decoration: none;
  font-weight: 900;

}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}*/

.content {
  padding: 0 1rem 1rem;
  margin-top: 70px;
}

h2 {
    font-size:20px;
}


.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}



