h1 {
	color : red;
	text-align: center;

}

h2 {
    color : green;
    text-align: center;
}

h3 {
    color : brown;
}

.basic-nav {
  text-align: center;
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.basic-nav-text {
  text-decoration: none;
  background: #333;
  border-radius: 5px;
  color: white;
  padding: 3px 8px;
  margin: 10px
}


.processed_text{
    font-size: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.tooltip:hover {
  background-color: green;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



