.content{
    padding:0;
}

#right-div{
    max-width: 40%;
    height: 100%;
    position: fixed;
    top: 60px;
    right: 0px;
    float: right;
    padding:0px;
    border-left:#black 2px solid;
    border: 1px solid #d6d9dc;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    text-align: center;
    font-size: 22px;
}

#right-upper{
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,0.2) transparent;
    scrollbar-width: thin;
    max-height: calc(100% - 160px);
/*    bottom: 0px;*/
    padding-bottom:0px;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  margin: 0 0 20px 0;
  width: 100%;
}

th {
  background-color: #1976D2;
  color: #fff;
}

table tr {
  color: #212121;
}

table tr:nth-child(odd) {
  background-color: #BBDEFB;
}

table tr a {
  text-decoration: none;
}

.current {
    color: red !important;
}

.current a {
    color: red !important;
}

#right-lower{
/*    height:40%;*/
    background-color: white;
    height: 100px;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/*.box {
    box-sizing: border-box;
}*/





#href-statistics{
    max-height: 30px;

}

.button {
  background-color: #BBDEFB;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;

}

#search-div {
    max-height:30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#search-form {
    width:70%;
}

#id_query[type="text"] {
    font-size:22px;
    width: 100%;
}

#search-button {
    width:20%;
}

#left-div{
    max-width: 60%;
    position:relative;
}

#book-content {
    max-width: 600px;
    margin: 0 auto;
}

.left-nav {
    margin-right:20px;
}

#book-text{
    font-size: 0px;
}

.tooltip {
  font-size: 24px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  style=margin-block-start: 0em;
  margin-block-end: 0em;
  /*border-bottom: 0px dotted black;*/

}

.punctuation {
  font-size: 24px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  style=margin-block-start: 0em;
  margin-block-end: 0em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  font-size: 0px;
  width: 140px;
/*  background-color: #555;*/
  background-color:#FFFFCE;
  color: #000;
  text-align: center;
  border-radius: 5px;
  border-color: red;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 10px 10px 10px;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -80px;
}

.tooltip:hover {
  background-color: #ebca71;
  cursor: pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tt-hanzi {
  font-size:24px;
  font-weight:500;

}

.tt-fayin {
  font-size: 18px;
  font-weight:600;
}

.tt-def {
  font-size:16px;
  font-weight:500;
/*  float: left*/
}





