{% extends 'ReadItEasy/base.html' %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Log In
                </legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">
                Log In
            </button>
        </form>
        <small>
            Don't have an account? <a href="{% url 'register' %}">Create One</a>
        </small>
    </div>
{% endblock %}