{% extends 'base.html' %}


{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Register Now
                </legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">
                Register
            </button>
        </form>
        <small>
            Already have an account? <a href="{% url 'login' %}">Log In</a>
        </small>
    </div>
{% endblock %}