.container {
    display: flex;
    justify-content: space-evenly;
}

.item {
    box-sizing: border-box;
    padding: 50px;
}

#table-wrapper {
  width: 100%;
}

tr[is_known="True"] {
    color: #009900;/*
    color:#009e28;*/
    }

tr[is_known="False"] {
/*    color: #009900;*/
    color:#f70010;
    }

h1 {
    color: #009900;
}

/*tr td {
  white-space:nowrap;
}*/

/*table {
  table-layout: auto;
  white-space:nowrap;
  text-align:left;
}*/

/*
.zh-char-col {
  width:4rem;
}*/



table {
  border-collapse: collapse;
  margin: 0 0 20px 0;
  width: 100%;
/*  table-layout: auto;*/
  white-space:nowrap;
  text-align:left;
  position: relative;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  min-width:4rem;
}

th {
  background-color: #1976D2;
  color: #fff;
}

table tr {
  color: #212121;
}

table tr:nth-child(odd) {
  background-color: #BBDEFB;
}