.container {
    display: flex;
    justify-content: space-evenly;
}

.item {
    box-sizing: border-box;
    padding: 50px;
}


tr[is_known="yes"] {
    color: #009900;
    }

h1 {
    color: #009900;
}

/*tr td {
  white-space:nowrap;
}*/

table {
  table-layout: auto;
  white-space:nowrap;
  text-align:left;
}

th {
  min-width:4rem;
}

/*
.zh-char-col {
  width:4rem;
}*/
