<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax_test</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="text-container">
      <span class='word' known='yes'>小镇</span>
      <span class='word' known='no'>一共</span>
      <span class='word' known='no'>一个</span>
      <span class='word' known='no'>学校</span>
      <span class='word' known='no'>小镇</span>
  </div>

    <script>
        $.ajax({
        url: '/send_ajax_json/',
        data: {
          'username': 'a'
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });
    </script>
</body>
</html>
