{% extends 'ReadItEasy/base.html' %}
{% load static %}

{% block title %}Statistics - {{id_book}}{% endblock %}

{% block extra_head%}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/book_words.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}

{% block content %}
  <div id="table-wrapper">
    <table>
      <tr>
        <th>rank</th>
        <th>count</th>
        <th>sim</th>
        <th>hsk</th>
        <th>is_known</th>
        <th>pinyin</th>
      </tr>
      {% for rank, sim, count, pinyin, hsk, is_known in list_of_list %}
      <tr onclick="changeIsKnown(this)" is_known="{{is_known}}" word="{{sim}}">
        <td>{{rank}}</td>
        <td>{{count}}</td>
        <td>{{sim}}</td>
        <td>{{hsk}}</td>
        <td>{{is_known}}</td>
        <td>{{pinyin}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr) );
})));


  function changeIsKnown(elt) {

    var word = elt.getAttribute("word");

    if (elt.getAttribute("is_known") == "False") {

      elt.setAttribute("is_known", "True")

      $.ajax({
        url: '/dictionary/ajax_interact_known_word/',
        data: {
          'word': word,
          'action': 'add',
        },
        dataType: 'json',
        success: function (data) {
          console.log('the word : ' + word + ' was added to the known words list');
        }
      });

    } else {

      elt.setAttribute("is_known", "False")
      $.ajax({
        url: '/dictionary/ajax_interact_known_word/',
        data: {
          'word': word,
          'action': 'remove',
        },
        dataType: 'json',
        success: function (data) {
          console.log('the word : ' + word + ' was removed from the known words list');
        }
      });
    }
  }
</script>
{% endblock %}