{% extends 'ReadItEasy/base.html' %}
{% load static %}

{% block title %}Statistics - {{id_book}}{% endblock %}

{% block extra_head%}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/book_words.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}

{% block content %}
  <div id="table-wrapper">
    <table>
      <tr>
        <th>rank</th>
        <th>count</th>
        <th>sim</th>
        <th>hsk</th>
        <th>is_known</th>
        <th>pinyin</th>
      </tr>
      {% for rank, sim, count, pinyin, hsk, is_known in list_of_list %}
      <tr onclick="changeIsKnown(this)" is_known="{{is_known}}" word="{{sim}}">
        <td>{{rank}}</td>
        <td>{{count}}</td>
        <td>{{sim}}</td>
        <td>{{hsk}}</td>
        <td class="known">{{is_known}}</td>
        <td>{{pinyin}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'dictionary/js/orderableTable.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'dictionary/js/changeTableWordsKnown.js' %}" charset="utf-8"></script>
{% endblock %}
