{% extends 'ReadItEasy/base.html' %}
{% load static %}

{% block title %} {{id_book}} {% endblock %}

{% block extra_head%}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css' %}">
    <script type="text/javascript">

    var current_clicked_token = '';

        function getClickedToken(obj) {

        if (current_clicked_token !== "") {
            console.log(current_clicked_token)
        }


        current_clicked_token = obj.getAttribute("token")
        console.log(current_clicked_token)
        console.log(obj.hasAttribute('token'));

        var element = document.getElementById(current_clicked_token);
        element.classList.add("current");
        element.scrollIntoView({
                            behavior: "auto",
                            block:"center",
                            });
<!--        }-->

<!-- document.getElementById("clickedToken").innerHTML = current_clicked_token;-->

    }
    </script>

{% endblock %}

<!--{% block header %}<h1>{{id_book}}</h1>{% endblock %}-->

{% block content %}
 <div id="left-div" >

        <div id="book-content">
            <header><h1>{{id_book}}</h1></header>
            <h2>{{chapter_name}}</h2>

            <div id="book-text">
                {% for token, list_line in zip_list %}
                {% if token == '@$$@' %}
                <br>
                {% else %}
                    {% if list_line == 'punctuation'%}
                        <p class="punctuation">{{token}}</p>
                    {% else %}
                        <p class="tooltip" onclick="getClickedToken(this)" token="{{token}}">{{token}}
                            <span class="tooltiptext">
                                <span class="tt-hanzi">{{list_line.0}} [{{list_line.1}}]</span>
                                <br>
                                <span class="tt-fayin">{{list_line.2}}</span>
                                <br>
                                {% for def in list_line.3 %}
                                <br>
                                <span class="tt-def">- {{def}}</span>
                                {% endfor %}
                            </span>
                        </p>
                    {% endif %}

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="right-div">
        <div id="right-upper">
            <table id="table-words">
                <thead>
                    <tr>
                        <th>Char</th>
                        <th>Rank</th>
                        <th>Freq</th>
                        <th>Rel F</th>
                    </tr>
                </thead>
                {% for char, freq in freqs %}
                <tr id="{{char}}">
                    <td><a href="/dictionary/mandarin/{{char}}" target="_blank">{{ char }}</a></td>

                    <td>{{ forloop.counter0 }}</td>
                    <td>{{ freq }}</td>
                    <td>{% widthratio freq size_corpus 100 %}</td>
                </tr>
                {% endfor %}
            </table>
         </div>

        <div id="right-lower">

            <div class="box" id="href-statistics">
                <a href="/books/{{language}}/{{id_book}}/statistics" target="_blank">-> See book statistics <-</a>
            </div>
            <div id="search-div" class="box">
                <form method="post" target="_blank" action="search/">{% csrf_token %}
                    <input type="text" id="id_query" name="query" placeholder="Enter text to search">
                </form>
            </div>
        </div>
    </div>




{% endblock %}